.login__main__container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f0f2f5; */
  margin: 0;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
}
/* #loginForm{
  border: 1px solid rebeccapurple;
  width: 400px;

} */
.login-container h2 {
  text-align: center;
  margin-bottom: 24px;
}

.login-container input {
  width: 91%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: #242ffa;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background: #3842ff;
}

/* _--------------_ */

.wheel__spin__container {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.wheel {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #242ffa;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  /* transform: rotate(67deg); */
}
.slice {
  width: 60%;
  height: 60%;
  position: absolute;
  border: 2.5px solid #242ffa;
  border-bottom: 0;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  overflow: hidden;
}

.wheel__container {
  position: relative;
  /* border: 1px solid rebeccapurple; */
  padding: 60px;
}

#spin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 290px;
  left: 290px;
  background: #3842ff;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.confetti__img {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 99;
}
.confetti__img img {
  width: 700px;
  height: 700px;
}

.arrow {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
      background-color: #242ffa;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  position: absolute;
  right: 0;
  top: 50%;
}


.slice__img {
  position: absolute;
  top: 75px;
  left: 20px;
  border-radius: 12px;
  padding: 0;
  top: 70px;
  left: 26px;
}

.slice__img img {
  /* border: 1px solid green; */
  border-radius: 12px;
  /* transform: rotate(67deg) ; */
  width: 100%;
  height: 100%;
  position: fixed;

  object-fit: cover;
  object-position: center;
  -webkit-user-drag: none;
}

.modal {
  display: none;
  /* display: flex; */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background: url(img/Party\ Festival\ Sticker\ by\ Color\ Fest.gif); */
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  /* position: relative; */
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
}

.close {
  font-size: 12px;
  color: white;
  cursor: pointer;
  background: #242ffa;
  border: none;
  padding: 13px;
  border-radius: 12px;
  margin-top: 8px;
}

.wheel__edit__section {
  /* width: 100%;
  height: 100vh; */

  display: none;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 0;
  left: 0;
}

.edit__section {
  padding: 30px;
  background-color: #181818;
  border: 0;
  border-radius: 12px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  /* width: 380px; */
}

.edit__section__icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.edit__section__icon svg {
  fill: #bdc3c7;
  width: 100%;
}

.edit__section__icon svg:hover {
  fill: white;
}

.edit__section__icon svg:active {
  fill: #bdc3c7;
}

#slice__color__change {
  width: 100%;
  border-radius: 12px;
}

.edit__btn {
  background: #303030;

  font-size: 15px;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 12px;
  padding: 13px;
  width: 100%;
  cursor: pointer;
}

#edit__opiton {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 0;
  background: transparent;
  color: #242ffa;
  font-size: 15px;
}

.slice__controlle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 12px;
  background: #555555;
}

.slice__controlle h4 {
  grid-column: span 2;
  margin: 0;
  text-align: center;
  color: white;
}

.slice__controlle button {
  font-size: 18px;
  border-radius: 12px;
  background: #303030;
  border: 0;
  padding: 8px 0;
  color: #fff;
}
#color__cng__btn {
  grid-column: span 2;
  font-size: 16px;
  padding: 8px 0;
}

.img__controlle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 12px;
  background: #555555;
}
.img__controlle h4 {
  grid-column: span 2;
  color: white;
  text-align: center;
  margin: 0;
}

.img__controlle input {
  border-radius: 12px;
  border: 0;
  padding: 8px;
  outline: none;
  background: #bdc3c7;
}

.border__controlle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  background: #555555;
  margin-bottom: 20px;
}
.border__controlle h4 {
  grid-column: span 2;
  margin: 0;
  text-align: center;
  color: white;
}

.border__controlle button {
  grid-column: span 2;
}

.border__controlle input {
  border-radius: 12px;
  border: 0;
  padding: 8px;
  outline: none;
  background: #bdc3c7;
}

.text__control {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  background: #555555;
}

.text__control h4 {
  grid-column: span 2;
  color: white;
  text-align: center;
  margin: 0;
}

.text__control input {
  border-radius: 12px;
  border: 0;
  padding: 8px;
  outline: none;
  background: #bdc3c7;
}

.text__control button {
  grid-column: span 2;
}
